.admin-management-box {
  &-header {
    margin: 10px 0;
    &-text {
      font-weight: 700;
      font-size: 20px;
    }
  }
}
.admin-management-box-modal {
  .modal-form {
    .ant-form-item-label {
      width: 100px;
    }
  }
  .form-select-icon-box {
    position: relative;
    width: 100%;
    &-select {
      margin-top: 8px;
      border: 1px solid #ccc;
      border-radius: 8px;
      padding: 6px;
      user-select: none;
    }
  }
  .form-inline-item {
    display: inline-block;
    width: 50%;
  }
}
