.login-form {
  width: 100%;
  .password-opera {
    .ant-form-item-control-input-content {
      display: flex;
      justify-content: space-between;
    }
    .login-form-forgot {
      color: #ccc;
      cursor: pointer;
    }
  }
}
