.article-create-box {
  .header-box {
    display: flex;
    margin-bottom: 12px;
    height: 30px;
    .title-input {
      height: 30px;
      flex: 1;
    }
    .btn-box {
      button {
        height: 30px;
        width: 100px;
        margin-left: 10px;
      }
    }
  }
  // 文章预览
  .preview-modal-box {
    .modal-box {
      // 标题
      .article-title {
        font-weight: 900;
        font-size: 32px;
      }
      // 文章内容显示
      .article-content {
        margin: 12px 0;
        height: 550px;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 5px;
        overflow: auto;
      }
      .article-categroy {
        margin: 16px 0;
      }
      // 封面图
      .cover-images-box {
        display: flex;
        align-items: center;
        .left-title {
          width: 10%;
          font-weight: 700;
          font-size: 20px;
          margin-right: 10px;
        }
        .right-box {
          flex: 1;
          display: flex;
          flex-direction: column;
          &-images-upload {
            margin-top: 10px;
            .ant-upload-picture-card-wrapper {
              width: 120px;
              .picture-card-div-img {
                width: 100%;
                height: 100%;
                > div {
                  width: 100%;
                  height: 100%;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                }
                img {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                }
              }
            }
            // 单图片上传
            .sign-pic-box {
              display: flex;
              flex-direction: column;
              .img-input {
                width: 400px;
              }
            }
          }
        }
      }
    }
    &-button-box {
      text-align: right;
      button {
        margin-right: 10px;
      }
    }
  }
}
